#A
alembic==1.11.1
#B
boto3==1.34.154
#F
fastapi==0.112.0
#O
openpyxl==3.1.5
#P
pandas==2.2.2
pillow==10.4.0
psycopg2-binary==2.9.6
pydantic==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
#R
requests==2.32.3
#S
SQLAlchemy==2.0.20
#t
tensorflow==2.17.0
#u
uvicorn==0.30.5